.required {
}

.required-label {
  color: red;
}
.readonly {
  color: #B2B2B2;
}
.required-readonly {
  color: #B2B2B2;
}
.required-readonly-label {
  color: red;
}
.orange {
  background-color: orange;
}
.blue {
  background-color: #33b5e5;
}
